// This will help us to define heading style, we can define different style for each level of head tags
.heading {
  margin: 0 !important;
  font-weight: 600 !important;
  line-height: 28px;
  padding: 0;
}
